@charset "utf-8";
* {
	margin:0px;
	padding:0px;	
}
body {
	background-color:#5C697D;	
	font-family: Tahoma, Geneva, sans-serif;
	color:#000;
}
#top_container {
	max-width:978px;
	min-width:650px;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
	background-color:#5C697D;
	padding:0px 5px;
}
#page_container {
	background-color:#FFF;
	padding-top:5px 5px 0px 5px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-bottom-left-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
}
#top_nav {
	position:relative;
	margin-top:5px;
	height:34px;
	background-color:#DEDEDE;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	-moz-border-top-left-radius:10px;
	-moz-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
}
#welcome {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	height:30px;
	line-height:30px;
	vertical-align:middle;
	font-size:12px;
	font-weight:bold;
	float:left;
	width:30%;
	padding-left:35px;
	background:url(../img/user.png) 10px center no-repeat;
}
#top_menu {
	float:right;
	position:relative;
}
#top_menu ul {
	float:left;
	list-style-type:none;
	background-color:#FFF;
	z-index:-2;
}
#top_menu li {
	float: left;
}
#top_menu li a {
	background-color:#DEDEDE;
	display:block;
	height:30px;
	line-height:30px;
	margin-right:2px;
	padding:2px 12px;
	font-size:12px;
	font-weight:bold;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
}
#top_menu li.last {
	background-color:#5C697D;
}
#top_menu li a.last {
	border-top-right-radius:10px;
	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	margin-right:0px;
}
#top_menu li a.first {
	margin-left:2px;
}
#top_menu li a:hover {
	background-color:#D9F1FC;
}
#top_menu li a.active {
	background-color:#D9F1FC;
}
#header {
	width:100%;
	height:80px;
	font-size:12px;
	color:#000;
}
#logo_container {
	width:30%;
	height:80px;
	float:left;
	position:relative;
}
#logo {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	border:none;
}
#info {
	width:65%;
	height:40px;
	vertical-align:text-top;
	line-height:40px;
	text-align:right;
	float:right;
	padding-right:5px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
}
#info a {
	color:#000;
	text-decoration:none;
}
#search {
	width:65%;
	height:40px;
	float:right;
	vertical-align:text-bottom;
	line-height:40px;
	text-align:right;
	padding-right:5px;
}
#img-search {
	vertical-align:middle;
	border:none;
}
#search input[type=text] {
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    padding: 3px;
    -webkit-box-shadow:inset 1px 4px 9px -6px;
    -moz-box-shadow:inset 1px 4px 9px -6px;
    -webkit-box-shadow:inset 1px 4px 9px -6px;
    box-shadow: inset 1px 4px 9px -6px;
    background: transparent;
}
#search input[type=text]:hover {
    border-color: #808080;
}
#bc-outer {
	width:100%;
	height:30px;
	background-color:#D9F1FC;
}
#breadcrumb {
	font-size:12px;
	width:70%;
	color:#000;
	font-weight:bold;
	vertical-align:middle;
	line-height:30px;
	text-transform:uppercase;
	float:left;
	padding-left:10px;
}
#breadcrumb a {
	color:#F07B07;
	text-decoration:none;
}
#bc-settings {
	float:right;
	width:25%;
	align:right;
	text-align:right;
	vertical-align:middle;
	line-height:26px;
	padding-right:5px;
}
#img-settings {
	vertical-align:middle;
	border:none;
}
#page-title {
	background-color:#DEDEDE;
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:5px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	align:center;
	text-align:center;
}
#footer {
	width:100%;
	margin: 5px 0px;
	padding: 5px 0px;
	align:center;
	text-align:center;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
}
